.SubmitResult {
	background: var(--white);
	color: var(--grey3);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	box-sizing: border-box;
}

.SubmitResult-content {
	padding-top: 10px;
	height: 100%;
	max-width: 570px;
}

.SubmitResult-title {
	font-size: 30px;
	font-weight: var(--semiBold);
}

.SubmitResult-message {
	margin-top: 20px;
	white-space: pre-line;
}

.SubmitResult-secondary-button + button {
	margin-left: 10px;
}

@media (max-width: 765px) {
	.SubmitResult-content {
		width: 100%;
		padding-bottom: 15px;
	}
}
