.TeamsHeader {
	display: flex;
	padding: 24px 90px;
	background-color: white;
}

.TeamsHeader-input,
.TeamsHeader-name {
	color: var(--almostBlack);
	font-size: 22px;
	font-weight: var(--semiBold);
	height: 30px;
	line-height: 30px;
	width: calc(100% - 150px);
}

.TeamsHeader-input {
	border: none;
	padding: 0;
	text-overflow: ellipsis;
	width: 100%;
}

.TeamsHeader-input::placeholder {
	color: var(--grey3);
	font-size: 22px;
	font-weight: var(--semiBold);
}

.TeamsHeader-buttons {
	height: 31px;
	display: flex;
}

.TeamsHeader-input-wrapper {
	width: calc(100% - 50px);
}

.TeamsHeader-error {
	top: 0;
	left: -40px;
	width: 30px;
}

.TeamsHeader-input::-ms-input-placeholder {
	color: var(--grey3);
	font-size: 22px;
	font-weight: var(--semiBold);
}

@media (max-width: 768px) {
	.TeamsHeader {
		padding: 10px 10px 0 10px;
	}

	.TeamsHeader-input,
	.TeamsHeader-name {
		font-size: 16px;
		margin-bottom: 8px;
		height: auto;
	}

	.TeamsHeader-name {
		font-size: 16px;
		width: 100%;
	}

	.TeamsHeader-error {
		display: none;
	}

	.TeamsHeader-input-wrapper {
		width: 100%;
	}
}
