.UserSelectList {
	width: 100%;
	padding: 4px 0;
	background-color: var(--white);
	box-shadow: 0 2px 4px 0 var(--transparentGrey1);
}

.UserSelectList-item {
	display: flex;
	width: 100%;
	align-items: center;
	height: 32px;
	padding: 0 12px;
	margin: 0;
	background-color: var(--white);
	border: none;
	will-change: background-color;
	transition: background-color .2s ease-in-out;
	cursor: pointer;
}

.UserSelectList-item-active {
	background-color: var(--grey2);
}

.UserLabel.UserSelectList-userLabel {
	border-radius: 0;
	width: 100%;
	background-color: transparent;
	padding: 4px 0;
}

.UserSelectList-notFound {
	margin: 4px 0;
	padding: 4px;
}

.UserSelectList-spinnerWrapper {
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.UserSelectList-spinnerWrapper svg {
	height: 32px;
	width: 32px;
}

.UserSelectList-notFound:hover {
	cursor: pointer;
	background-color: var(--grey2);
}
