.TeamPeopleList {
	padding: 40px 60px;
	overflow-y: auto;
	height: calc(100% - 80px);
}

.TeamPeopleList-item {
	width: 300px;
	height: 60px;
}

@media (max-width: 768px) {
	.TeamPeopleList {
		padding: 10px 15px 0;
	}

	.TeamPeopleList-item {
		width: 100%;
		border-bottom: 1px solid var(--grey2);
		padding-bottom: 10px;
		height: 64px;
		min-height: 64px;
	}
}

@media (max-width: 320px) {
	.TeamPeopleList {
		padding: 10px 15px 40px;
	}
}
